[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate

#[url "ssh://git@github.com/"]
#  insteadOf = https://github.com/


[alias]
	a = add
	hd = log -1
	st = status
	c = commit
	ci = commit
	co = checkout
	d  = describe

[branch]
  autosetupmerge = always
  autosetuprebase = always

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	editor = nvim

[diff]
	tool = vimdiff

[rerere]
	enabled = 1
	autoupdate = 1

[user]
	name  = Patrick Meredith
	email = pmeredit@gmail.com

[web]
	brower = google-chrome
